{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ categorie.titre }}{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/2868/2868271.png" width="50" height="50" alt="logo kittenWorld">
        <h1 class="display-5 fw-bold">Supprimer la catégorie {{ categorie.titre }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Êtes-vous bien sûr de vouloir supprimer la catégorie <i>{{ categorie.titre }}</i> qui a
                pour description "{{ categorie.description }}" ?</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ path("app_home") }}" class="btn btn-warning btn-lg px-4 gap-3">
                    <span class="fa-solid fa-backward"></span> Retour</a>
                {{ form(formulaire) }}
            </div>
        </div>
    </div>
{% endblock %}